global:
  scrape_interval: 15s
  scrape_timeout: 10s
  
scrape_configs:
  - job_name: 'flats-scrapping'

    metrics_path: /metrics
    scheme: http
    
    static_configs:
    - targets:
      - flats_app:1702